.App{


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  color: aliceblue;
  background: gray;
  min-height: 100vh;
}


button{

  color: #ffffff;
  padding: 5px 25px;
  margin: 10px;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #007bff;
  width: 300px;
  border-radius: 15px;

}